{% extends 'main/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block divcontent %}
<div class="container justify-content-center text-center my-5 px-5">
    <img class="mb-4" src="{% static 'main/img/logo.svg' %}" alt="" width="100" height="100">
    <h1>competenciApp</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="lead">
        <a href="" class="btn btn-lg btn-primary fw-bold my-2">Search users/skills</a>
        <a href="" class="btn btn-lg btn-primary fw-bold my-2">Add a new skill</a>
    </p>
</div>
{% endblock %}