{% extends 'main/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block divcontent %}
<div class="container justify-content-center text-center my-5 px-5">
    <img class="mb-4" src="{% static 'main/img/logo.svg' %}" alt="" width="100" height="100">
    <h1>competenciApp</h1>
    <p class="lead">Welcome to competenciApp, the ultimate web application designed to streamline the management of
        skills and learning resources for your company. Choose one of the options below or use the navbar on the top</p>
    <p class="lead">
        <a href="{% url 'skill_management:skill_search' %}" class="btn btn-lg btn-primary fw-bold my-2">Search
            users/skills</a>
        <a href="{% url 'skill_management:new_skill_form' %}" class="btn btn-lg btn-primary fw-bold my-2">Add a new
            skill</a>
    </p>
</div>
{% endblock %}