{% extends 'main/base.html' %}
{% block divcontent %}


<div class="container col-md-6 my-5">
    <h1>Skill Information</h1>
    <hr>
    <h2>Name: {{ skill.name }}</h2>
    <p><strong>Description:</strong> {{ skill.description }}</p>

    <h3>Resources <a href="{% url 'skill_management:add_resources_form' skill.id %}" target="_blank" class="btn btn-warning">Add</a></h3>
    <ul class="list-group mb-3">
        {% for resource in skill.resources.all %}
        <li class=list-group-item>
            <strong>{{ resource.name }}</strong> - {{ resource.type }}
            {% if resource.url %}
            - <a href="{{ resource.url }}" target="_blank">View Resource</a>
            {% endif %}
            <p><strong>Description:</strong> {{ resource.description }}</p>
        </li>
        {% empty %}
        <li class=list-group-item>No resources available for this skill.</li>
        {% endfor %}
    </ul>

    <h3>Owner: {% for owner in skill.owners.all|slice:":5" %}<a
            href="{% url 'skill_management:user_profile' owner.id %}">{{ owner }}</a>{% if not forloop.last %}, {%endif %}{% endfor %}</h3>
</div>

{% endblock %}