{% extends 'main/base.html' %}
{% block divcontent %}

<div class="container py-5">
    <div class="row">
        <!-- Profile Header -->
        <div class="col-12 mb-4">
            <div class="text-center">
                <div class="position-relative d-inline-block">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/User_icon-cp.svg"
                        class="rounded-circle profile-pic" alt="Profile Picture" style="height: 120px; width: 120px;">
                </div>
                <h3 class="mt-3 mb-1">{{user.username}}</h3>
                <p class="text-muted mb-3">{{ user.role }}</p>
            </div>
        </div>


        <!-- Content Area -->
        <div class="row">
            <!-- Personal Information -->
            <div class="mb-4">
                <h3 class="mb-3">Personal Information</h5>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label">Name</label>
                            <label type="text" class="form-control">{{user.first_name}}</label>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Second Name</label>
                            <label type="text" class="form-control">{{user.last_name}}</label>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Email</label>
                            <label type="text" class="form-control">{{user.email}}</label>
                        </div>
                    </div>
            </div>

            <!-- Skills Lists -->
            <div>
                <h3 class="mb-3">Skills</h5>
                    <ul class="list-group">
                        {% for skill in skills %}
                        <li class=list-group-item><a href="{% url 'skill_management:skill_info' skill.id %}"
                                class="text-decoration-none">{{ skill.name }} - {{ skill.description }}</a>
                        </li>
                        {% empty %}
                        <li class=list-group-item>No skills registered.</li>
                        {% endfor %}
                    </ul>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}